@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IR-Yekan-body";
  src: url("../../public/font/Qs_Iranyekan.ttf");
}
@font-face {
  font-family: "IR-Yekan-bold";
  src: url("../../public/font/Qs_IranyekanBold.ttf");
}
@font-face {
  font-family: "IR-Yekan-heading";
  src: url("../../public/font/Qs_IranyekanExtrabold.ttf");
}
